gantt
*.o
*.dSYM
.DS_Store
*~

# Native fileops binaries compiled from src/fileops.c (see Makefile) -
# never committed, but not previously ignored either
bin/gantt_copy
bin/gantt_delete
bin/gantt_move
bin/gantt_touch
bin/gantt_chmod
bin/gantt_mkdir
bin/gantt_concat

# Generated test output - test/run-tests.sh regenerates these on every run
test/*/build/
test/*/dist/
# Stray output from unexpanded ${basedir} references (a pre-existing bug in
# some test build.xml files) landing as a literal directory name
test/*/${basedir}/
